---
layout: default
title: Santa Revisão
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <h1 >{{ post.title }}</h1>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      {{ post.content }}
      <!--
      <div class="continue">
        <a href="{{ post.url | prepend: site.baseurl }}">&bull;&bull;&bull;</a>
      </div>
      -->
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      {% if page == 2 %}
        <a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">anterior</a>
      {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">anterior</a>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">próxima</a>
    {% endif %}
  </div>

</div>
